//
//  Default.xcconfig
//  Demo App
//
//  Created by Nicolas Da Mutten on 16.05.21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTH_SERVER_URL = https:\/\/<auth-server.tld>/api/token
FAIRPLAY_SERVER_URL = https:\/\/<fairplayserver.tld>/api/content-key
