//
//  Default.xcconfig
//  Demo App
//
//  Created by Nicolas Da Mutten on 16.05.21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

AUTH_SERVER_URL = https:\/\/auth.ba-nicolas.init7.net/api/token
FAIRPLAY_SERVER_URL = https:\/\/fairplayserver.ba-nicolas.init7.net/api/content-key
